.aom{
    color: red;
}
.bom{
    color: orange;
}
.com{
    color: yellow;
}
.dom{
    color: green;
}
.eom{
    color: blue;
}
.fom{
    color: indigo;
}
.gom{
    color: violet;
}
